.task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(21, 27, 38, 0.2);
  margin: 0 15px;
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  gap: 10px;
}

.task:hover {
  scale: 1.02;
}

.task__heading {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.task__name {
  padding: 0;
  margin: 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  width: 100%;
  font-weight: 400;
  color: #333333;
  font-size: 14px;
  line-height: 17px;
  cursor: text;
  outline: none;
  border: none;
}

.task__name:empty:not(:focus)::before {
  content: attr(data-placeholder);
  display: block;
  color: #808080;
  pointer-events: none;
}

.task__user-ava {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px dashed #96999C;
  display: flex;
  align-items: center;
  justify-content: center;
}