

.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #F2F5FA;
  min-width: 310px;
  max-width: 310px;
  height: calc(100vh - 109px);
}

.column__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 15px 0;
  box-sizing: border-box;
  flex-shrink: 0;
}

.column__name {
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
  color: #333333;
  border: none;
  outline: none;
  width: 100%;
  margin-right: 10px;
  padding: 5px 0;
  background-color: transparent;
}

.column__name::placeholder {
  color: #808080;
  font-weight: 400;
}

.column__operations {
  display: flex;
  align-items: center;
  gap: 5px;
}

.column__btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  position: relative;
}

.column__menu-popup {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 150%;
  background-color: #ffffff;
  padding: 0;
  border-radius: 10px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.3s;
  width: 150px;
  box-shadow: 0 5px 20px rgba(21, 27, 38, 0.2);  
}

.column__menu-popup:hover {
  border: 1px solid #4F6EA3;
  color: #4F6EA3;
}

.column__menu-btn {
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  color: #333333;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 7px 10px;
  margin: 0;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}
.column__menu-btn:hover {
  color: #4F6EA3;
}

.column__tasks {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  overflow-y: auto;
  padding-bottom: 30px;
}

.column__tasks::-webkit-scrollbar {
  display: none;
}